body {
    margin: 0;
}

.list-container {
    position: relative;
    font-size: 0px;
}

.card-container {
    width: 16.66%;
    float: left;
    box-sizing: border-box;
    padding: 20px 20px 8px;
}

li {
    list-style-type: none;
}

.movieName {
    font-size: 14px;
    text-align: left;
    text-transform: capitalize;
    padding: 5px 0;
    color: #ffffff;
}

#bms-list-body {
    overflow: hidden;
    padding: 0;
    padding: 30px;
    background-color: #1C1C1C;
}

.image-container {
    position: relative;
}

.image-container i.fa.fa-play-circle-o {
    font-size: 48px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container i.fa.fa-thumbs-up {
    color: #4EC697;
    position: absolute;
    bottom: 22px;
    right: 0px;
    font-size: 15px;
}

strong {
    color:#ffffff;
    padding: 0 5px;
}

.votes-container {
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    bottom: 5px;
    right: 7px;
}

.release-date {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #4EC697;
    color: #ffffff;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#player-container {
    position: relative;
    font-size: 0px;
    clear: both;
}
.bms-player {
    display:inline-block;
    width:60%;
    vertical-align: top;
}
.bms-movie-detail {
    display:inline-block;
    width: 38%;
    vertical-align: top;
    font-size: 14px;
    background-color: #22312F;
    color:#ffffff;
    padding: 10px;
    box-sizing: border-box;
    height: 400px;
    margin-left: 2%;
    position: relative;
}

iframe {
    border:none;
}

.details-footer-items i.fa.fa-thumbs-up {
    border: 1px solid #40A458;
    color: #40A458;
    padding: 5px;
    border-radius: 50%;
    height:20px;
    width:20px;
}

.details-footer-items i.fa-question-circle-o {
    border: 1px solid #FEA502;
    color: #FEA502;
    padding: 5px;
    border-radius: 50%;
    height:20px;
    width:20px;
}

.details-footer-items i.fa-thumbs-down {
    border: 1px solid #B24142;
    color: #B24142;
    padding: 5px;
    border-radius: 50%;
    height:20px;
    width:20px;
}

.details-footer-items {
    width: 33.33%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 20px;
}

.viewers-votes-no,.viewers-votes-maybe,.viewers-votes-yes {
    font-size:10px;
    padding-top:5px;
}
.viewers-votes-yes {
    color: #40A458;
}
.viewers-votes-maybe {
    color: #FEA502;
}
.viewers-votes-no {
    color: #B24142; 
}

.details-footer-container {
    font-size: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    right: 0;
}

.release-date-container {
    position: relative;
    font-size: 0px;
    padding-top: 15px;
    text-align: left;
}

.relaese-date-item{
    display: inline-block;
    font-size: 15px;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    box-sizing: border-box;
}

.icon-details-container {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    box-sizing: border-box;
}

.event-genere {
    position: relative;
    font-size: 0px;
    padding: 15px 5px 5px 0;
}

.event-type {
    display: inline-block;
    font-size: 10px;
    border: 1px solid;
    border-radius: 50px;
    vertical-align: top;
    margin-right: 5px;
    text-transform: uppercase;
    padding: 5px 10px;
    letter-spacing: .3px;
    text-align: center;
}